body{
    font-family: 'Poppins', sans-serif;
}

.header-bg-warning{
    background: #264653;
    
    width: 100%;
}
.featured-gray{
    filter: grayscale(100%);
    width: 288px;
    height: 243px;
}
.client-mod{
    color: #E76F51;
}
.modal-btn-primary{
    background-color: #E76F51;
    color: white;
}